body{
  color: white;
  background-color: #ffc1fa;
  font-family: Arimo;
}

h1{
  font-family: Chilanka;
  font-size: 4.5rem;
}

h2{
  font-size: 2.5rem;
}

p{
  font-size: 1.25rem;
}

.topshow{
  width: 35%;
  padding-bottom: 3%;
  margin: auto;

}

.top-section{
  text-align:center;
  padding: 5% 3% 5% 3%;
  background-color: #ffe78f;
}

.mimi{
  border-radius: 20%;
  width: 80%;
  margin:auto;
}
